.inner {
    max-width: 729px;
    margin-bottom: 40px;
    padding-bottom: 35px;
}

.img {
    width: 729px;
    margin-bottom: 25px;
}

.forpublished {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 9px;
}

.title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-bottom: 6px;
}

@media(max-width:1134px) {
    .inner {
        max-width:1100px;
        width: 97%;
    } 
    .img {
        width: 99%;
    }
}
@media(max-width:812px) {
    .img {
        margin-bottom: 15px;
    }
    .title {  
        font-size: 20px;
        line-height: 28px;  
    }
}

@media(max-width:685px) {
    .inner {
        padding-bottom: 10px;
    } 
}
@media(max-width:586px) {
    .text {  
        font-size: 14px;
        line-height: 18px;  
    }
}