.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom: 14px;
}

.text {
    width: 476px;
    padding-bottom: 16px;

}