.img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
}

.line {
    display: flex;
    justify-content: start;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #707070;
}

.elem+.elem {
    padding-left: 3px;
}

.next {
    padding: 0 6px;
    border-left: 1px solid #707070;
    margin-left: 6px;
}

.title {
    font-family: Montserrat;
    font-weight: 700;
    text-align: left;
    color: #363838;
    font-size: 24px;
    line-height: 38px;
    margin: 7px 0;
}