.inner1,
.inner2 {
    max-width: 255px;
    padding: 10px 5px;
    position: relative;
    margin-left: 299px;
}

.inner2::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background: #363838;
    top: -11px;
    left: 4px;
}

.inner1::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background: #363838;
    bottom: -10px;
    left: 4px;
}

.line {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 14px;
}

img {
    padding-right: 10px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    color: #363838;
}

@media (max-width:830px) {

    .inner1,
    .inner2 {
        margin-left: 200px;
    }
}

@media (max-width:670px) {
    .inner1,
    .inner2 {
        margin: 0px;
        max-width: 555px;
    }
    .inner1::after { 
        height: 0px;
       
    }
    .inner2::after {
        height: 45px; 
        top: -35px;
    }
    .inner2::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 45px;
        background: #363838;   
        bottom: -35px;
        left: 4px;
    }
    .text {   
        font-size: 14px;
        line-height: 18px;
      
    }

}