.map{
    margin-bottom: 50px;
}

.info { 
    margin: 23px 0;
    max-width: 825px;
    padding-left: 284px;
}

.line{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.text1{
    color: #A1A1A1;
    font-size: 16px;
    line-height: 27px;
    padding-top: 23px;
    margin-bottom: 23px;
}
.block{
    margin-bottom: 16px;
}
.phone, .text2{
    color: #5A5A5A;
    font-size: 16px;
    line-height: 27px;
    
}
.sliderBlock{
    padding: 100px 0px;
}

