

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  overflow: hidden;
}

.list {
  display: flex;
  justify-content: center;
  padding-right: 15px;
}

.logo {
  margin: 0 auto;
}

.item {
  color: rgba(54, 56, 56, 0.9);
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  font-weight: 700;
  padding-right: 35px;
  padding-left: 45px;
}

.item a {
  text-decoration: none;
}

.link {
  color: inherit;
  border: 2px solid inherit;
  padding: 2px;  
}

.active {
  color: gold;
  border-bottom: 2px solid gold;  
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sideMenu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    min-height: 100%;
    background-color: #ffff;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all .5s;
    z-index: 5;  
}

.cross{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}

.sideMenuClose{
 transform: translateX(200px);
 transition: all .5s;

}