.inner {
    background-image: url('./../../../../public/images/about/bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 414px;
    margin: 240px 0 10px;
}

.content {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.info {
    position: absolute;
    max-width: 824px;
    top: -130px;
    left: 284px;
    /* border: 1px solid red; */
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #363838;
    position: relative;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 23px;
}

.title:after {
    position: absolute;
    content: '';
    width: 200px;
    height: 1px;
    background: #6D7278;
    left: 0;
    bottom: 0;
}

.text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 49px;
}

.img {
    position: absolute;
    top: -130px;
    left: -155px;
    width: 432px;
}

@media (max-width:1425px) {
    .img {
        top: -55px;
        left: -55px;
        width: 332px;
    }
}

@media (max-width:1240px) {
    .img {
        top: -155px;
        left: 25px;
        width: 232px;
    }
}

@media (max-width:812px) {
    .inner {
        height: 354px;
        margin: 200px 0 10px;
    }

    .img {
        display: none;
    }

    .info {
        position: absolute;
        top: -120px;
        left: 4px;

    }

    .title {
        font-size: 28px;
        line-height: 36px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width:586px) {
    .inner {
        height: 280px;
        margin: 180px 0 10px;

    }

    .title {
        font-size: 26px;
        line-height: 34px;
    }

    .text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
    }
}

@media (max-width:348px) {
    .inner {
        height: 300px;
        margin: 180px 0 20px;

    }
}