a {
  text-decoration: none;
}

.content {
  background-color: #DFDFDF;
  color: #383838;
  padding: 60px 0 80px;
  margin: 0;  
}
.inner {
  display: flex;
  justify-content: flex-start;
}
.block{
  display: flex;
  justify-content: flex-start;
  width: 50%;

}
.socialEl {
  width: 125px;
  margin-right: auto;
  margin-left: 125px;

}
.footMenuEl {
  margin-right: 60px;
  width: 125px;  
}
.copyright {
  background-color: #383838;
  text-align: center;
  color: #A1A1A1;
  margin: 0px;
  padding: 42px 0 41px;
}

@media (max-width:1028px) {
  .inner {
    display: block;  
  }

  .block{
    width: 65%;
  }

  .socialEl {
    width: 125px;
    margin-right: auto;
    margin-left: 0px;
  }  
}



