a {
  text-decoration: none;
}

.content {
  background-color: #DFDFDF;
  color: #383838;
  padding: 60px 0 80px;
  margin: 0;  
}
.inner {
  display: flex;
  justify-content: flex-start;
}
.block{
  display: flex;
  justify-content: flex-start;
  width: 50%;

}
.socialEl {
  width: 125px;
  margin-right: auto;
  margin-left: 125px;

}
.footMenuEl {
  margin-right: 60px;
  width: 125px;  
}
.copyright {
  background-color: #383838;
  text-align: center;
  color: #A1A1A1;
  margin: 0px;
  padding: 42px 0 41px;
}

@media (max-width:940px) {
  .inner {
    flex-wrap: wrap; 
    }

  .block{
    justify-content: center;
    width: 100%;
  }
  .socialEl {
    margin-left: auto;
    margin-right: auto;
  }
  .footMenuEl {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width:580px) {
  .content {
    padding-top: 30px ;
  }
  .socialEl {
    margin-left: 0;
  }
}