.section{
    padding-top: 40px;
}
.title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #363838;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    max-width: 430px;
    text-align: center;
    margin: 0 auto 30px;

}

.inner {
    display: grid;
    grid-template-columns: repeat(2, 540px);
    grid-template-rows: 1;
    margin-bottom: 80px;
    grid-gap: 30px
}