p{
    margin: 0;
}
.wrapper{
display: flex;
flex-direction: column;
min-height: 100vh;

}
.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;    
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;     
}
.container-fluid{
    max-width: 1920;
    margin: 0 auto;
    padding: 0 10px;
}

.slick-dots li button:before {
    color: #363838;   /*slick-theme.css  196 */
   
   
}
.slick-dots li.slick-active button:before{ 
    color:#FFEF35 ;      /*slick-theme.css  203,204 */
}

  

  
