.item {
    color: #363838;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 35px;
}
.content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
}
.line{
    height: 2px;
    border-radius: 4px;
    background-color: #363838;
    margin-top: -2px;  
}

@media (max-width:586px) {
    .item {  
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 18px;
    }
    .content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }
    .line{
        height: 2px;
        border-radius: 4px;
        background-color: #363838;
        margin-top: -2px;  
    }
}